ul {
  list-style: none;
}

#header {
  width: 100%;
  background-color: #d2f1ff;
  padding: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.month-year {
  margin: 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.weekdays {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fffbf660;
  margin: 0;
  padding: 0.8rem 0;
}

.days {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0.5rem;
}

.days > .active {
    background-color: #fdfad9;
    padding: 0.25rem;
    border-radius: 5px;
}

.inactive {
  color: #333333;
}