ul {
  list-style: none;
}

#header {
  width: 100%;
  background-color: #d2f1ff;
  padding: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.month-year {
  margin: 0;
  padding: 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.weekdays {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fffbf660;
  margin: 0;
  padding: 0.8rem 0;
}

#days {
  display: grid;
  grid-template: repeat(5, 1fr) /  repeat(7, 1fr);
  gap: 2rem;
  justify-items: center;
}

.active {
    background-color: #fdfad9;
    width: 20px;
    border-radius: 5px;
    text-align: center;
}

.inactive {
  color: #777777;
}
